extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Ruben Ponce

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer | Math Tutor | Student 

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p Despite my computer science background, most of my knowledge of web development comes from <a href='https://teamtreehouse.com' target='_blank'>Team Treehouse.</a> Now I am doing their FullStack JavaScript Techdegree, an online bootcamp, so that I can hone my skills as a web developer. Let's build something and sharpen tomorrow's projects with the power of youth.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills. At this point, you should be able to list at least ten skills.
        ul 
          li JavaScript 
            ul 
              li(style={'list-style-type': 'circle'}) AJAX, JSON, OOP
          li Node.js
          li Express.js
          li Version Control
          li Fetch API
          li jQuery
          li Regex
          li CSS
            ul 
              li(style={'list-style-type': 'circle'}) Flexbox
          li HTML5
        h6 Contact Info

        //- Add your own contact info
        ul
          li (323)-915-8466
          li rubenmartinponce@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://linkedin.com/in/ruben-ponce-6a040b171' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/RubenPonce' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/_RubenPonce_' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  