extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Ruben Ponce

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer | Math Tutor | Student <br>
          br 
          em Let's make something

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p In addition to graduating from the college with an A.S. in Computer Science in Summer of 2019, I am also working on <a href='https://teamtreehouse.com' target='_blank'>Team Treehouse's</a> FullStack JavaScript Techdegree, an online bootcamp, so that I can hone my skills as a web developer. Treehouse's projects have been some of the most fun, and most frustrating challenges that I've had to overcome, but I don't plan on stopping.
         
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills. At this point, you should be able to list at least ten skills.
        ul 
          li JavaScript 
            ul 
              li(style={'list-style-type': 'circle'}) AJAX, JSON, OOP
          li Node.js
          li Express.js
          li Version Control
          li Fetch API
          li jQuery
          li Regex
          li CSS
            ul 
              li(style={'list-style-type': 'circle'}) Flexbox
          li HTML5
        h6 Contact Info

        ul
          li (323)-915-8466
          li rubenmartinponce@gmail.com

        a.button.expanded(href='https://linkedin.com/in/ruben-ponce-6a040b171' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/RubenPonce' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/_RubenPonce_' target='_blank') Twitter
        
    
  