body{
  background-color:  #d8d8d8; 
}
h1,h2,h3,h4,h5,p{
  font-family: 'Merriweather', serif;
}

  h5{
    font-family:'Open Sans', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-size: 15px;
    color: #666;
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: #666;
}

.button{
  background-color: #333;
}

.button:hover{
  background-color: #111;
}

a{
  color: #333;
}

a:hover{
  color: #111;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  background: rgb(139, 190, 201);
  color: #fff;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color:rgb(0, 0, 0);
  }

  .portfolio-me a{
    font-family:'Open Sans','Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }
  .portfolio-me a:hover{
    color: rgb(138, 138, 138)
  }


.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

 .portfolio-breadcrumb a{
   font-family: 'Open Sans','Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 
   
 }


.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
  font-family: 'Roboto', sans-serif;
}

.portfolio-intro p{
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    margin-bottom: 10px;
    -webkit-transition: width 2s, height 2s, -webkit-transform .5s; /* Safari */
    transition: width 1s, height 1s, transform .5s;
  }
 
    .portfolio-index .thumbnail:hover {
      -webkit-transition: width 2s, height 2s, -webkit-transform .5s; /* Safari */
      transition: width .8s, height .8s, transform .4s;
      -webkit-animation: scale(1.5,1.5);
      transform: scale(1.1,1.1);
  }
  
  a{
    color: rgb(16, 16, 15);
  }
  a:hover{
  color: #248f9d
 }
  

  .portfolio-index .cell{
    margin-bottom: 15px;

  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
      color:  #7d7c70;
      font-family: 'Open Sans', 'Lato';
    }
    .portfolio-index .cell:hover h5{
      
      color:  #248f9d !important;
     
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color: #444;
}

.portfolio-bio{
    line-height: 25px;
}
